body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #69696a;
}

header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

ul {
  list-style: none;
}

p {
  border-left: 5px solid #69696a;
  padding-left: 10px;
}

button {
  border-radius: 20px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.foot_links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #69696a;
}

li {
  padding: 5px 0;
}

section {
  margin: 20px;
  position: relative;
}

.Large {
  height: 280px;
  width: 280px;
  background-color: rgba(247, 136, 167, 0.6);
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 200px;
  left: 750px;
}

.Medium {
  height: 200px;
  width: 200px;
  background-color: rgba(247, 193, 162, 0.7);
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 320px;
  left: 900px;
  opacity: 1;
}

.Small {
  height: 150px;
  width: 150px;
  background-color: rgba(207, 130, 213, 0.6);
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 220px;
  left: 950px;
  opacity: 0.8;
}

header h1 {
  font-size: 15px;
  color: #000;
}

button {
  padding: 5px 0;
}

footer h3 {
  margin: 5px;
  color: #000;
}

.foot {
  width: 50%;
}

.foot_links li {
  width: 33%;
}

.foot_links li a {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  header,
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header li {
    margin-left: 10px;
  }
  p {
    width: 50%;
  }
  .Call {
    width: 50%;
  }
  .Large {
    display: inline-block;
  }
  .Medium {
    display: inline-block;
  }
  .Small {
    display: inline-block;
  }
}
